@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.5;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
  }

  h1 {
    font-size: 2em;
  }

  ul,
  ol {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img,
  picture,
  svg,
  video,
  canvas {
    display: block;
    max-width: 100%;
    height: auto;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }

  textarea:not([rows]) {
    min-height: 6em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  iframe {
    border: 0;
  }

  [hidden]:not([hidden="until-found"]) {
    display: none !important;
  }

  :focus-visible {
    outline-offset: 3px;
  }
}